<ion-header>
  <ion-navbar>
    <ion-title>Action Sheets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="action-sheets-basic-page">
  <button ion-button secondary menuToggle>Toggle Menu</button>
  <ion-list>

    <form class="form-inline">
      <ion-item>
        <ion-label>search2</ion-label>
        <ion-input type="search" #search></ion-input>
      </ion-item>

      <button ion-button block (click)="doSearch(search.value)">
    Show Action Sheet
      </button>
    </form>

  </ion-list>

  <div class="text-center">
    <p class="lead" *ngIf="loading">Loading...</p>
  </div>


  <ul class="list-group">

    <ion-item>
      <ion-label>HTTP status</ion-label>
    </ion-item>
    <ion-item> {{ itunes.status }} </ion-item>


    <li class="list-group-item" *ngFor="let track2 of itunes2.results">
      <ion-item>
        <ion-label>contractAddress</ion-label>
      </ion-item>
      <!-- -->
      <ion-item> {{ track2.contractAddress }} </ion-item>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let track of itunes.results; ">


      <ion-item>
        <ion-label>hash</ion-label>
      </ion-item>
      <ion-item> {{ track.hash }} </ion-item>
      <ion-item>
        <ion-label>blockNumber</ion-label>
        <div item-content>{{ track.blockNumber }}</div>
      </ion-item>
      <ion-item>
        <ion-label>blockHash</ion-label>
      </ion-item>
      <ion-item> {{ track.blockHash }} </ion-item>
      <ion-item>from</ion-item>
      <ion-item>{{ track.from }}</ion-item>
      <ion-item>to</ion-item>
      <ion-item>{{ track.to }}</ion-item>

      <ion-item>
        <ion-label>value</ion-label>
      </ion-item>
      <ion-item> {{ track.value }} </ion-item>




      <ion-item>
        <ion-label>gas</ion-label>
        <div item-content>{{ track.gas }}</div>
      </ion-item>
      <ion-item>
        <ion-label>gasPrice</ion-label>
        <div item-content>{{ track.gasPrice }}</div>
      </ion-item>
      <ion-item>
        <ion-label>nonce</ion-label>
        <div item-content>{{ track.nonce }}</div>
      </ion-item>
      <ion-item>
        <ion-label>transactionIndex</ion-label>
        <div item-content>{{ track.transactionIndex }}</div>
      </ion-item>

      <ion-item>input</ion-item>
      <ion-item>
        <label class="item item-input item-stacked-label">	
           <!--<textarea placeholder="yyy" rows="8" cols="30">-->
	        <textarea placeholder="yyy">    {{ track.input }}
	        </textarea></label>
      </ion-item>
    </li>
  </ul>

</ion-content>